<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="/static/css/style.css">
        <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
    </head>
    <body>

<div class="navbar navbar-inverse" role="navigation" >
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"><h2>Database Management System | Create Faculty<h2></a>
        </div>
      </div>
</div>
      
<div class = "container">
    <div class = "col-sm 8"></div>
        <div class = "col-sm 4">
            <p style = "padding-left:px font-size:75px" align = "right">Hi! Welcome {{user.nickname()}}   |  <a href="{{ url|safe }}">{{ url_linktext }}</a> | <a href="/">Home</button></a></p><hr>
        </div>
</div>



<div class = "container">

    <div class = "col-sm-9" style = "padding-top:55px; padding-bottom:30px">
        
            <form id="form1">
                <h2><strong>Thesis Library</strong><h2><hr>
                <div class="profile_details"><p class="label">First name: 
                </p><input type="text" name="fac_fname"></input></div>
                <div class="profile_details"><p class="label">Middle name: </p><input type="text" name="fac_mname"></input></div>
                <div class="profile_details"><p class="label">Last name: </p><input type="text" name="fac_lname"></input></div>
                <div class="profile_details"><p class="label">Title: </p><input type="text" name="fac_title"></input></div>
                <div class="profile_details"><p class="label"> E-mail: </p><input type="text" name="fac_email"></input></div>
                <div class="profile_details"><p class="label">Contact number: </p><input type="text" name="fac_pnum"></input></div>
                <div class="profile_details"><p class="label">Birthday: </p><input type="date" name="fac_bdate"></input></div>
                <div class="profile_details"><p class="label">Picture: </p><input type="file" name="fac_pic"></input></div>
                <div class="container">
                    <div class="profile_details"><p class="label">Find Thesis: </p><input type="text" id="thesisfinder" name="find" placeholder="browse thesis by title"></input></div>
                    <div class="checkbox" id="keyup_lister">
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value"Submit">
            </form>
            <a href="/"><button class="btn btn-secondary" style="display:inline">Cancel</button></a>
       
    </div>


<div class = "col-sm-3">
<hr>
    <div>
            <a href="/thesis/list"><button class="btn-danger btn" style = "padding-left:95px;padding-right:95px">Thesis List</button></a><br>
            <a href="/faculty/list"><button class="btn-danger btn" style = "padding-left:93px;padding-right:93px">Faculty List</button></a><br>
            <a href="/student/list"><button class="btn-danger btn" style = "padding-left:91px;padding-right:92px" >Student List</button></a><br>
            <a href="/university/list"><button class="btn-danger btn" style = "padding-left:85px;padding-right:86px">University List</button></a><br>
            <a href="/college/list"><button class="btn-danger btn" style = "padding-left:92px;padding-right:92px">College List </button></a><br>
            <a href="/thesis/create"><button class="btn-danger btn" style = "padding-left:86px;padding-right:85px">Create Thesis</button></a><br>
            <a href="#"><button class="btn-red btn" style = "padding-left:83px;padding-right:83px">Create Faculty</button></a><br>
            <a href="/student/create"><button class="btn-danger btn" style = "padding-left:82px;padding-right:81px">Create Student</button></a><br>
            <a href="/university/create"><button class="btn-danger btn" style = "padding-left:75px;padding-right:75px">Create University</button></a><br>
            <a href="/college/create"><button class="btn-danger btn" style = "padding-left:82px;padding-right:82px">Create College</button></a><br>
            <a href="/department/create" ><button class="btn-danger btn"style = "padding-left:69px;padding-right:69px">Create Department</button></a><hr>
    
    </div>
</div>
</div>

<div class="navbar navbar-inverse " role="navigation">
    <div class="container">
        <div class="navbar-text pull-left">
            <p>Jess J. Canaway | Karolyn A. Maquilan<br>BS-CpE IV-1</p>     
        </div>
    </div>
</div>
        
        <script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
        <script type="text/javascript" src="/static/js/myjs.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    </body>
</html>