<!DOCTYPE HTML>
<html>
<head>
  	<link type="text/css" rel="stylesheet" href="/static/css/style.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
 
<body>

<div class="navbar navbar-inverse" role="navigation" >
	<div class="container">
        <div class="navbar-header">
	        <a class="navbar-brand"><h2>Database Management System<h2></a>
        </div>
      </div>
</div>

<div class="container">
	<div class = "col-sm-8">
		<center>
			<h2>Polytechnic Unversity of the Philippines <br> Thesis Library</h2><br>
		</center>
	</div>
		
	<div class = "col-sm-4">

		<div class="jumbotron text-center">
			<br><br>
			<a href="{{login}}" class="btn btn-danger" style = "padding-left:27px; padding-right:27px">LOGIN</a><br><br>
			<a href="{{register}}" class="btn btn-danger">REGISTER</a>
			<br><br>
		</div>
	</div>
	
</div>

<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
   	<div class="container">
   		<div class="navbar-text pull-left">
   			<p>Jess J. Canaway | Karolyn A. Maquilan<br>BS-CpE IV-1</p>		
   		</div>
   	</div>
</div>

</body>
</html>